<link href="bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="bootstrap.min.js"></script>
<script src="jquery-1.11.1.min.js"></script>

<!------ Include the above in your HEAD tag ---------->
<link href="temp.css" rel="stylesheet">
<script src="javascript"></script>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">

<body class="home">
    <div class="container-fluid display-table">
        <div class="row display-table-row">
            <div class="col-md-2 col-sm-1 hidden-xs display-table-cell v-align box" id="navigation">
                <div class="logo">
                    <a hef="#"><img src="1.jpg" alt="merkery_logo" class="hidden-xs hidden-sm"></a>
                </div>
                <div class="navi">
                    <ul>
                        <li class="active"><a href="#"><i class="fa fa-home" aria-hidden="true"></i><span
                                    class="hidden-xs hidden-sm">Home</span></a></li>
                        <li><a href="#"><i class="fa fa-user"></i><span class="hidden-xs hidden-sm">Manage
                                    Users</span></a>
                        <li><a href="#"><i class="fa fa-bus"></i><span class="hidden-xs hidden-sm">Manage
                                    Tours</span></a>
                        <li><a href="#"><i class="fa fa-bookmark"></i><span class="hidden-xs hidden-sm">Manage
                                    Booking Requests</span></a>
                        <li><a href="#"><i class="fa fa-pencil"></i><span class="hidden-xs hidden-sm">Manage User
                                    Reviews</span></a>
                        <li><a href="#"><i class="fa fa-money"></i><span class="hidden-xs hidden-sm">Manage
                                    Revenue</span></a>
                        <li><a href="#"><i class="fa fa-list"></i><span class="hidden-xs hidden-sm">Manage
                                    Category</span></a>
                        <li><a href="#"><i class="fa fa-car"></i><span class="hidden-xs hidden-sm">View Tours</span></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-10 col-sm-11 display-table-cell v-align">
                <!--<button type="button" class="slide-toggle">Slide Toggle</button> -->
                <div class="row">
                    <header>
                        <div class="col-md-7">
                            <nav class="navbar-default pull-left">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="offcanvas"
                                        data-target="#side-menu" aria-expanded="false">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>
                            </nav>
                            <div class="search hidden-xs hidden-sm">
                                <input type="text" placeholder="Search" id="search">
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="header-rightside">
                                <ul class="list-inline header-top pull-right">
                                    <li class="hidden-xs"><a href="#" class="add-project" data-toggle="modal"
                                            data-target="#add_project">Add Project</a></li>
                                    <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                                    <li>
                                        <a href="#" class="icon-info">
                                            <i class="fa fa-bell" aria-hidden="true"></i>
                                            <span class="label label-primary">3</span>
                                        </a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="avatar.png"
                                                alt="user">
                                            <b class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <div class="navbar-content">
                                                    <span>JS Krishna</span>
                                                    <p class="text-muted small">
                                                        me@jskrishna.com
                                                    </p>
                                                    <div class="divider">
                                                    </div>
                                                    <a href="#" class="view btn-sm active">View Profile</a>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </header>
                </div>


                <div class="container">
                    <div class="row custyle">
                        <table class="table table-striped custab">
                            <thead>
                                <a href="#" class="btn btn-primary btn-xs pull-right"><b>+</b> Add new categories</a>
                                <tr>
                                    <th>ID</th>
                                    <th>Title</th>
                                    <th>Parent ID</th>
                                    <th class="text-center">Action</th>
                                </tr>
                            </thead>
                            <tr>
                                <td>1</td>
                                <td>News</td>
                                <td>News Cate</td>
                                <td class="text-center"><a class='btn btn-info btn-xs' href="#"><span
                                            class="glyphicon glyphicon-edit"></span> Edit</a> <a href="#"
                                        class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span>
                                        Del</a></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Products</td>
                                <td>Main Products</td>
                                <td class="text-center"><a class='btn btn-info btn-xs' href="#"><span
                                            class="glyphicon glyphicon-edit"></span> Edit</a> <a href="#"
                                        class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span>
                                        Del</a></td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Blogs</td>
                                <td>Parent Blogs</td>
                                <td class="text-center"><a class='btn btn-info btn-xs' href="#"><span
                                            class="glyphicon glyphicon-edit"></span> Edit</a> <a href="#"
                                        class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span>
                                        Del</a></td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="col-md-5 col-sm-5 col-xs-12 gutter">

                    <div class="sales">
                        <h2>Your Sale</h2>

                        <div class="btn-group">
                            <button class="btn btn-secondary btn-lg dropdown-toggle" type="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span>Period:</span> Last Year
                            </button>
                            <div class="dropdown-menu">
                                <a href="#">2012</a>
                                <a href="#">2014</a>
                                <a href="#">2015</a>
                                <a href="#">2016</a>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-md-7 col-sm-7 col-xs-12 gutter">

                    <div class="sales report">
                        <h2>Report</h2>
                        <div class="btn-group">
                            <button class="btn btn-secondary btn-lg dropdown-toggle" type="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span>Period:</span> Last Year
                            </button>
                            <div class="dropdown-menu">
                                <a href="#">2012</a>
                                <a href="#">2014</a>
                                <a href="#">2015</a>
                                <a href="#">2016</a>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
    </div>

    </div>



    <!-- Modal -->
    <div id="add_project" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header login-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4 class="modal-title">Add Project</h4>
                </div>
                <div class="modal-body">
                    <input type="text" placeholder="Project Title" name="name">
                    <input type="text" placeholder="Post of Post" name="mail">
                    <input type="text" placeholder="Author" name="passsword">
                    <textarea placeholder="Desicrption"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="cancel" data-dismiss="modal">Close</button>
                    <button type="button" class="add-project" data-dismiss="modal">Save</button>
                </div>
            </div>

        </div>
    </div>

</body>